body{
  background-color:mistyrose ;
}

.checkout-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color:lemonchiffon;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  height: 100px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: gold;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: goldenrod;
}
